@import "fonts.css";
body {
  padding: 0;
  color: #393939;
  font-family: "MovistarTextRegular";
}
label{
  margin: 0;
}
header, footer, section,.view-container{
  float: left;
  width: 100%;
}
.header-container,.footer-container,.view-frame{
  margin: auto;
  padding: 25px;
  display: table;
}
.header-container{
  border-bottom: 1px solid #393939;
}
.footer-container{
 border-top: 1px solid #393939; 
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.bitgray-logo-link{
  float: left;
}
.navigation-links{
  float: right;
}
.top-links{
  float: left;
  margin-top: 15px;
}
.top-link-item{
  float: left;
  color: #393939;
  margin-right: 25px;
}
.footer-link,.top-link{
  font-size: 24px;
  text-decoration: none;
}
.top-link{
  float: left;
  color: #393939;
}
.footer-link{
  font-size: 16px;
  margin-right: 25px;
  color: #f6c715;
}
.top-link:hover{
  color: #f6c715;
  text-decoration: none;
}
.footer-link:hover{
  color: #393939;
  text-decoration: none;
}
.footer-subcontainer{
  width: 320px;
  margin: auto;
  text-align: center;
}
.footer-subcontainer .login-bitgray-logo{
  float: none;
  margin: auto;
}
.footer-links-box{
  float: left;
  clear: left;
  width: 100%;
}
.copyright{
  float: left;
  clear: left;
  text-align: center;
  width: 100%;
}
.privacy-link{
  margin-right: 0;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
#map {
    border: 1px solid #777;
    float: left;
    width: 100%;
    height: 500px;
}
h1{
  cursor: text;
}
.privacy-terms-title,.about-us-title,.find-store-title,.dream-car-title{
  float: left;
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-bottom: 25px;
}
.privacy-terms-desc,.about-us-desc {
  float: left;
  width: 100%;
  text-align: justify;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}
.login-bitgray-logo{
  width: 100px;
  float: left;
}
.view-container{
  padding: 0;
}
.car-basic-info-box{
  float: left;
  width: 100%;
}
.car-main-info,.main-car-img,.car-full-title{
  float: left;
  display: none;
}
.search-box{
  float: right;
  margin-bottom: 25px;
}
.search-bar{
  float: left;
  width: 100%;
}
.cars-list{
  float: left;
  width: 100%;
}
.car-box{
  float: left;
  margin: 0px 15px 15px 0px;
  border: 1px solid #777;
}
.car-info-row{
  float: left;
  clear: left;
  width: 100%;
  border-bottom: 1px solid #000;   
  cursor: text;
}
.car-info-label{
  background: #777;
  color: #f6c715;
  float: left;
  padding: 5px;
  min-width: 50px;
}
.car-info{
 padding: 5px;
 float: left;
 background: #FFF;
 word-wrap: break-word;
}
.car-price{
  color: #60cae8;
  font-weight: bold;
}
.bx-wrapper{
  margin: auto;
  text-align: center;
}
.search-form label{
  font-style: italic;
  margin-right: 25px;
}
.slide-car-desc{
  font-family: "MovistarTextRegular";
  position: absolute;
  right: 25px;
  top: 25px;
  font-size: 24px;
  font-weight: bold;
  color: #e21e25;
  font-style: italic;
}
.thumb-car-img{
  cursor: pointer;
}
.popup-overlay{
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.8;
  display: none;
  z-index: 8;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}
.popup-overlay-open{
  display: block;
}
.car-popup{
  display: none;
  position: absolute;
  width: 767px;
  min-height: 700px;
  transform: translate(-50%, 0%); 
  -webkit-transform: translate(-50%, 0%); 
  left: 50%;
  background: #FFF;
  z-index: 9999;
  padding: 25px;
  border: 1px solid #777; 
  cursor: pointer;
}
.image-window-open{
  display: block;
  cursor: default;
}
.car-popup-head{
  float: left;
  width: 100%;
}
.car-popup-title{
  float: left;
}
.close-car-popup{
  font-size: 24px;
  cursor: pointer;
  float: right;
}
.car-popup-title{
  font-size: 16px;
  font-weight: bold;
}
.car-popup-container .car-main-info{
  display: block;
}
.car-details-image{
  margin-bottom: 25px;
}
.car-main-info{
  float: left;
  width: 100%;
}
.car-main-info-row{
  float: left;
  width: 100%;
}
.car-details{
  float: left;
  width: 100%;
  border-top: 1px solid #777; 
  border-right: 1px solid #777; 
}
.car-details .car-main-info .car-info-label,.car-details .car-info-label{
  width: 200px
}