body {
  padding: 0;
  /*color: #777;*/
  color: #393939;
}

#map {
    height:420px;
    width:600px;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h1{
  cursor: default;
}
h2 {
    margin-bottom:0;
    margin-top: 0;
}
.user_login_form_container{
  width: 400px;
  height: 250px;
  transform: translate(-50%, -50%);
  border: 1px solid #777; 
  padding: 25px;
  position: fixed;
  top: 50%;
  left: 50%;
  background: rgba(255,255,255,0.5);
  z-index: 10px;
}
.login-bitgray-logo{
  width: 100px;
  float: right;
}
.user-login-form{
  width: 100%;
  float: left;
}
.login-fieldset{
  float: left;
  width: 100%;
  margin: 10px;
}
.login-header{
  float: left;
}
.login-label{
  float: left;
}
.login-input{
  float: right;
}
.green-login-color-row{
  background: #bed431;
}
.yellow-login-color-row{
  background: #f6c815;
}
.red-login-color-row{
  background: #e21e25;
}
.login-color-row {
  float: left;
  display: block;
  table-layout: fixed;
  width: 100%;
  margin: 0;
}
.view-container{
  padding: 0;
}