.exercise2-container{
	background: #FFF;
	margin: auto;
	display: table;
	border: 1px solid #777;
	padding: 25px;
}
.ex2-block{
	text-align: center;
	font-weight: bold;
}
.ex2-first-block{
	background: #bed431;
}
.ex2-second-block{
	background: #f6c815;
}
.ex2-third-block{
	background: #e21e25;
}
.ex2-block-id{
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 48px;
	font-family: 'Helvetica';
	font-weight: bold;
	color: #777;
}