/* Extra small devices (Phones, up to 767px) */
@media (max-width: 767px) {  

	#map {
    height: 320px;
    width: 100%;
    float: left;
    clear: left;
    }

}
/* Small devices (Tablets, 768px and up) */
@media all and (min-width:768px ) and (max-width: 991px) {

.header-container,.footer-container,.view-frame{
	width: 718px;
}
.bx-wrapper{
  width: 717px;
}
.compare-cars-col2{
	width: 353px;
}
.compare-cars-col3{
	width: 229px;
}
.compare-cars-col2.detailed-car{
 margin-top: 235px; 
}
.compare-cars-col3.detailed-car{
 margin-top: 153px; 
}
.compare-cars-col2 .thumb-car-img .thumb-img{
	width: 353px;
}
.compare-cars-col3 .thumb-car-img .thumb-img{
	width: 229px;
}
.compare-cars-col3 .car-info-row .car-info-label{
	width: 100%;
} 


}
/* Medium devices (desktops, 992px and up) */
@media all and (min-width:992px ) and (max-width: 1199px) {

.header-container,.footer-container,.view-frame{
	width: 942px;
}
.bx-wrapper{
  width: 717px;
}
.compare-cars-col2{
	width: 353px;
}
.compare-cars-col3{
	width: 229px;
}
.compare-cars-col2.detailed-car{
 margin-top: 235px; 
}
.compare-cars-col3.detailed-car{
 margin-top: 153px; 
}
.compare-cars-col2 .thumb-car-img .thumb-img{
	width: 353px;
}
.compare-cars-col3 .thumb-car-img .thumb-img{
	width: 229px;
}
.compare-cars-col3 .car-info-row .car-info-label{
	width: 100%;
} 

}

/* Large devices (large desktops, 1200px and up) */
@media all and (min-width: 1200px) {
.header-container,.footer-container,.view-frame{
	width: 1150px;
}
.bx-wrapper{
  width: 717px;
}
.compare-cars-col2{
	width: 353px;
}
.compare-cars-col3{
	width: 229px;
}
.compare-cars-col2.detailed-car{
 margin-top: 235px; 
}
.compare-cars-col3.detailed-car{
 margin-top: 153px; 
}
.compare-cars-col2 .thumb-car-img .thumb-img{
	width: 353px;
}
.compare-cars-col3 .thumb-car-img .thumb-img{
	width: 229px;
}
.compare-cars-col3 .car-info-row .car-info-label{
	width: 100%;
}
}